/* * {
  border: 1px solid red;
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  background: var(--light-gray-blue);
}

main {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.hero__container {
  display: flex;
  height: 264px;
}

.hero__image__container {
  background-image: url(./images/drawers.jpg);
  background-size: 126%;
  width: 264px;
  border: none;
  border-radius: 15px 0 0 15px;
}

.hero__text__container {
  background: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 0 15px 15px 0;
}

.hero__title {
  padding: 30px 30px 0 30px;
  margin: 0;
  color: var(--very-dark-gray-blue);
}

.hero__text {
  color: var(--des-dark-blue);
  padding: 0 30px;
}

.author__share__container {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 30px;
}

.idleBtn {
  background-color: var(--light-gray-blue);
  border-radius: 50px;
  padding: 8px;
  margin-right: 4%;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: white;
  border: none;
}

.author__image {
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.author__name,
.author__date {
  margin: 0;
}

.author__name {
  color: var(--very-dark-gray-blue);
  font-weight: 700;
  margin-right: 155px;
}

.author__date {
  color: var(--gray-blue);
}

.share {
  padding: 1.5%;
  background-color: var(--very-dark-gray-blue);
  color: var(--gray-blue);
  display: flex;
  width: 13%;
  height: 5px;
  align-items: center;
  border-radius: 10px;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 62%;
  letter-spacing: 3px;
}

.share .shareSvg {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
  margin-left: 15px;
}

.share .triangle {
  width: 20px;
  height: 20px;
  background-color: var(--very-dark-gray-blue);
  position: absolute;
  top: 75%;
  left: 45%;
  transform: rotateY(0deg) rotate(45deg);
}

.activeBtn {
  background-color: var(--des-dark-blue);
  border-radius: 50px;
  padding: 8px;
  margin-right: 4%;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: white;
  border: none;
}

.activeBtn img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(11deg) brightness(111%) contrast(6000%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--des-dark-blue);
}
.attribution a {
  color: var(--very-dark-gray-blue);
  text-decoration: none;
  font-weight: 700;
}

@media screen and (max-width: 700px){
  main {
    flex-direction: column;
  }
  
  h1 {
    font-size: 1.1rem;
  }

  .hero__container {
    flex-direction: column;
    width: 350px;
    height: 520px;
  }

  .hero__image__container {
    background-image: url(./images/drawers.jpg);
    width: 350px;
    flex: 1;
    border-radius: 15px 15px 0 0;
  }

  .hero__text__container {
    width: 350px;
    flex: 1.2;
    border-radius: 0 0 15px 15px;
  }

  .author__share__container {
    margin-top: 10px;
  }

  .author__name {
    margin-right: 78px;
  }

  .activeBtn {
    margin-right: 0;
  }

  .idleBtn {
    margin-right: 0;
  }

  .share {
    position: absolute;
    top: 513px;
    left: 13px;
    width: 350px;
    height: 80px;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 0 0 15px 15px;
  }

  .triangle {
    display: none;
  }

}

:root {
  --very-dark-gray-blue: hsl(217, 19%, 35%);
  --des-dark-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
}
