/* * {
  border: 1px solid red;
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  background: var(--light-gray-blue);
}

main {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

.hero__container {
  display: flex;
  height: 264px;
}

.hero__image__container {
  background-image: url(./images/drawers.jpg);
  background-size: 126%;
  width: 264px;
  border: none;
}

.hero__text__container {
  background: white;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero__title {
  padding: 30px 30px 0 30px;
  margin: 0;
  color: var(--very-dark-gray-blue);
}

.hero__text {
  color: var(--des-dark-blue);
  padding: 0 30px;
}

.author__share__container {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 30px;
}

.author__image {
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.author__name,
.author__date {
  margin: 0;
}

.author__name {
  color: var(--very-dark-gray-blue);
  font-weight: 700;
  margin-right: 165px;
}

.author__date {
  color: var(--gray-blue);
}

.share {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--light-gray-blue);
}

.share img {
  height: 40%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--des-dark-blue);
}
.attribution a {
  color: var(--very-dark-gray-blue);
  text-decoration: none;
  font-weight: 700;
}

:root {
  --very-dark-gray-blue: hsl(217, 19%, 35%);
  --des-dark-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
}